<div class="experience">

  <div>
    <img *ngIf="imagen" src="{{imagen}}" alt="education image" class="experience__image">
    <img *ngIf="!imagen" src="http://localhost:8080/educacion/image/{{education.id}}" alt="education image" class="experience__image">
  <div class="experience__info">
    <h5 class="experience__job">{{education.titulo}}</h5>
    <p class="experience__time">{{education.fecha_inicio | date:'MMMM y' | titlecase}} - {{education.fecha_final == null? 'Actualidad':(education.fecha_final | date:'MMMM y' | titlecase)}}</p>
    <h6 class="experience__job" >{{education.institucion}}</h6>
  </div>
  </div>
  <div *ngIf="this.edit" class="col d-flex flex-row-reverse gap-2 mb-2">
    <button class="btn btn-sm btn-outline-danger btn--edit" (click)="eliminarExperiencia()"><i class="fa-solid fa-trash"></i></button>
    <app-edit-education-modal (updateImage)="actualizarImagen($event)" (updateEducation)="actualizarEducacion($event)" [educacion]="education"
    ></app-edit-education-modal>
  </div>
</div>

