<header>
  <div class="header">
    <div class="switches">
      <div (click)="changeTheme()" id="toggle-theme" class="toggle-theme">
        <img id="toggle-icon" src="{{icon}}" alt="icon theme" class="toggle-theme__icon">
        <p id="toggle-text" class="toggle-theme__text">{{iconText}}</p>
      </div>
    </div>
    <div id="flags" class="flags">
      <!-- <div class="flags__item">
        <img src="{{logo}}" alt="" class="">
      </div> -->
    </div>
    <!-- <div id="toggle-colors" class="colors">
      <div (click)="changeColor(item.color)" *ngFor="let item of colors" class="{{item.class}}"></div>
    </div> -->
    <button class="btn {{boton.class}" routerLink="{{boton.url}}" >{{boton.texto}}</button>

      <div *ngIf="this.userService.usuarioLogeado" class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>


  </div>
</header>
