<article class="card">
  <h2 class="card__title">Front End</h2>
  <small>Años de experiencia</small>
  <div class="skills__header">
    <span class="skills__start-level">0</span>
    <span class="skills__start-level">1</span>
  </div>
  <div class="skills">
    <div class="skills__item">
      <p class="skills__tech">HTML</p>
        <div class="skills__bar skills__bar--70"></div>
    </div>
    <div class="skills__item">
      <p class="skills__tech">CSS</p>
        <div class="skills__bar skills__bar--70"></div>
    </div>
    <div class="skills__item">
      <p class="skills__tech">JavaScript</p>
        <div class="skills__bar skills__bar--40"></div>
    </div>
    <div class="skills__item">
      <p class="skills__tech">Bootstrap</p>
        <div class="skills__bar skills__bar--40"></div>
    </div>
    <div class="skills__item">
      <p class="skills__tech">Angular</p>
        <div class="skills__bar skills__bar--10"></div>
    </div>
  </div>
</article>
