<article class="card">
  <div class="d-flex justify-content-between">
    <h2 class="card__title">{{skills[0].rol.nombre}}</h2>
    <button class="btn btn-sm btn-outline-primary btn--edit" (click)="open(demoModal)"><i class="fa-solid fa-plus icon"></i>Agregar</button>


<!-- Modal -->
<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Tecnoliga {{skills[0].rol.nombre}}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
   <form (ngSubmit)="agregarSkill(skillForm)" #skillForm="ngForm" >
    <div class="modal-body">
      <div class="m-2">
       <label class="form-label" for="logo">Logo</label>
        <!--  <input (change)="saveLogo($event)" class="form-control" type="file" name="logo" id="logo"> -->
        <input type="text" class="form-control" [(ngModel)]="skillDto.logo" name="logo" id="logo">
      </div>
      <div class="m-2">
        <label class="form-label">Nombre de la tecnologia</label>
        <input class="form-control" type="text" [(ngModel)]="skillDto.nombre" name="nombre" id="nombre">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')">Agregar</button>
    </div>
  </form>
  </ng-template>


  </div>
  <div class="skills">
    <div *ngFor="let technologie of skills" class="skills__item">
      <img class="skills__icon" src="{{technologie.logo}}"/>
      <p class="skills__tech">{{technologie.nombre}}</p>
      <div class="d-flex gap-2 m-1">
        <button class="btn btn-sm btn-outline-danger btn--edit"><i class="fa-solid fa-trash"></i></button>
        <button class="btn btn-sm btn-outline-primary btn--edit"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>
  </div>
</article>
