
<app-header [boton]="boton"></app-header>
<!-- <pre>{{loginForm.value | json}}</pre>
 -->
<div class="login">
  <form (ngSubmit)="login(loginForm)" class="form-control" #loginForm="ngForm">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="mailLabel">Email address</label>
      <input required type="email" name="email" [(ngModel)]="data.email" #email="ngModel" id="mail" class="form-control">
      <div class="form-alert " width="20px" [hidden]="email.valid || email.pristine">
       <p> El email es obligatorio</p>
      </div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input required [(ngModel)]="data.password" #password="ngModel" type="password" id="password" class="form-control" name="password" ngModel>
      <div class="form-alert " width="20px" [hidden]="password.valid || password.pristine">
        <p> La contraseña es obligatorio</p>
       </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  </form>
</div>
