
<div class="experience">
  <div>
    <img src="{{experience.imagen}}" alt="" class="experience__image">
  <div class="experience__info">
    <p data-section="experience" data-value="first-job-dates" class="experience__time">{{experience.fecha_inicio | date:'MMMM y' | titlecase}} - {{experience.fecha_final | date:'MMMM y' | titlecase}}</p>
    <h5 data-section="experience" data-value="first-job-title" class="experience__job">{{experience.puesto}}</h5>
    <p data-section="experience" data-value="first-job-description" class="experience__description">{{experience.descripcion}}</p>
  </div>
  </div>
  <div *ngIf="this.edit" class="col d-flex flex-row-reverse gap-2 mb-2">
    <button class="btn btn-sm btn-outline-danger btn--edit" (click)="eliminarExperiencia()"><i class="fa-solid fa-trash icon"></i></button>
    <app-edit-modal (actualizarEvent)="actualizarExperiencia($event)" [experience]="experience"></app-edit-modal>
  </div>
</div>
