
<div  class="row mb-3">
  <h2 class="card__title col">Experiencia</h2>
  <div *ngIf="this.edit" class="col d-flex flex-row-reverse">
    <button class="btn btn-sm btn-outline-primary btn--edit" (click)="open(demoModal)"><i class="fa-solid fa-plus icon"></i>Agregar</button>
  </div>
</div>

<!-- Modal -->
<ng-template #demoModal let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Agregar Experiencia Laboral</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="[this.existeArchivo=false,modal.dismiss('Cross click')]"></button>
</div>
<form #experienciaForm="ngForm" >
  <div class="modal-body">
    <div class="form-outline mb-4">
      <label for="imagen" class="form-label">Logo</label>
      <input (change)="cargaImagen($event)" name="experienceDto.imagen" ngModel class="form-control" type="file" id="imagen">
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="puesto">Puesto</label>
      <input required  name="puesto" [(ngModel)]="experienceDto.puesto" type="text" ngModel id="puesto" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="empresa">Empresa</label>
      <input required  name="empresa" [(ngModel)]="experienceDto.empresa" type="text" id="empresa" class="form-control" ngModel>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="fecha_inicio">Fecha de Inicio</label>
      <input required name="fecha_inicio" [(ngModel)]="experienceDto.fecha_inicio" class="form-control" type="date" id="fecha_inicio" class="form-control" placeholder="dd-mm-yyyy" value=""
      min="1997-01-01" max="2030-12-31" ngModel>
    </div>
    <div class="form-outline mb-4 form-check">
      <input (change)="actualidad($event)" name="actualidad" ngModel [(ngModel)]="experienceDto.actualidad" id="actualidad" class="form-check-input" type="checkbox"[checked]="false" id="actualidad">
      <label class="form-check-label" for="actualidad">Actualidad</label>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="fecha_final">Fecha de Finalizacion</label>
      <input [disabled]="experienceDto.actualidad" name="fecha_final" [(ngModel)]="experienceDto.fecha_final" type="date" id="fecha_final" class="form-control" placeholder="dd-mm-yyyy" value=""
      min="1997-01-01" max="2030-12-31" ngModel>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="descripcion">Descripcion</label>
      <textarea name="descripcion" [(ngModel)]="experienceDto.descripcion" id="descripcion" class="form-control" ngModel></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="[agregarExperiencia(experienciaForm),modal.close('Save click')]">Actualizar</button>
  </div>
</form>
</ng-template>


<app-experience [edit]="edit" (deleteExp)="eliminarExperiencia($event)" [experience]="experience" *ngFor="let experience of experiences"></app-experience>
