<article class="card card--experience">
  <h2 class="card__title">Experiencia</h2>
  <div class="experience">
    <img src="assets/images/necxusLogo.png" alt="" class="experience__image">
    <div class="experience__info">
      <p data-section="experience" data-value="first-job-dates" class="experience__time">Enero 2022 - Junio 2022</p>
      <h3 data-section="experience" data-value="first-job-title" class="experience__job">Desarrollador Back-End PHP</h3>
      <p data-section="experience" data-value="first-job-description" class="experience__description">Desarrollo de funciones para la pagina web y mantenimiento del sistemas de ventas. Modelado y manjeo de base de datos. Relevamientos y analisis de requerimientos. Tecnologias: HTML, CSS, JavaScript, PHP, MySQL, postreSQL.</p>
    </div>
  </div>
</article>
