<div class="card__image-container">
    <img src="assets/images/project.jpg" alt="Langing page" class="card__image"/>
  </div>
  <div class="project">
    <div class="project__tags">
      <span class="project__tag">#HTML</span>
      <span class="project__tag">#CSS</span>
      <span class="project__tag">#JavaScript</span>
      <span class="project__tag">#Responsive</span>
    </div>
    <h2 class="card__title">Landing Page</h2>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Omnis esse odit ipsa sapiente nam laborum consectetur. Eligendi ex nesciunt alias non.
    Dolorem, quasi. Amet rem ipsam dolor officiis, </p>
    <p class="card__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
      quasi non distinctio, consequatur veniam harum nobis optio illum cupiditate esse, neque
      eligendi totam doloremque reprehenderit laborum accusamus, labore porro facere Lore</p>
      <div class="buttons">
        <a href="#" class="button button--primary">Demo</a>
        <a href="#" class="button button--ghost">Code</a>
      </div>
</div>
