<app-project [project]="project" *ngFor="let project of projects"></app-project>


    <div class="column--right__button d-flex justify-content-center">
      <button (click)="open(demoModal)" class="btn btn-sm btn-outline-primary btn--edit btn--edit--project ">
        <i class="fa-solid fa-plus icon"></i>Agregar
      </button>
    </div>



  <!-- Modal -->
  <ng-template #demoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualizar Perfil</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="agregarProyecto(proyectoForm)" #proyectoForm="ngForm" >
    <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Foto de Perfil</label>
          <input (change)="cargaImagen($event)" name="foto_perfil" ngModel class="form-control" type="file" id="foto_perfil">
        </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')">Actualizar</button>
    </div>
  </form>

  </ng-template>
