<div class="card__image-container">
    <img src="{{project.image}}" alt="Langing page" class="card__image"/>
</div>
  <div class="project">
    <app-project-tag [tags]="project.tags"></app-project-tag>
    <h2 class="card__title">{{project.title}}</h2>
    <p class="card__text">{{project.description}}</p>
      <div class="buttons">
        <a href="{{project.deploy}}" target="_blank" class="button button--primary">Demo</a>
        <a href="{{project.github}}" target="_blank" class="button button--ghost">Code</a>
      </div>
</div>
