<app-header [boton]="boton"></app-header>
<main class="main">
  <section class="column column--left">
    <app-card-profile [edit]="this.userService.usuarioLogeado"></app-card-profile>
    <app-card-experience [edit]="this.userService.usuarioLogeado" ></app-card-experience>
    <app-card-education [edit]="this.userService.usuarioLogeado" ></app-card-education>
  </section>
 <section class="column column--right">
    <app-card-skills  [skills]="skillsFront"></app-card-skills>
    <app-card-skills  [skills]="skillsBack"></app-card-skills>
   <app-card-project  [project]="project" *ngFor="let project of projects"></app-card-project>
  </section>
</main>
