<article class="card card--profile">

  <div class="card__image-container">
    <img src="{{profile.image}}" alt="profile image"/>
  </div>
  <div class="card__header">
    <h2 class="card__title no-margin">
      {{profile.name}}
    </h2>
    <p data-section="profile" data-value="rol" class="card__subtitle no-margin">{{profile.rol}}</p>
  </div>
  <div class="card__body">
    <div class="card__link">
      <i class="fas fa-envelope icon"></i>
      <a href="mailto:alanlazo35@gmail.com">{{profile.mail}}</a>
    </div>
    <div class="card__link">
      <i class="fas fa-phone-alt icon"></i>
      <a href="tel:1123951092">{{profile.phone}}</a>
    </div>
    <p data-section="profile" data-value="description" class="card__text">
      {{profile.description}}
    </p>
  </div>
</article>
