<article class="card card--profile">

  <div class="card__image-container">
    <img src="{{profile.foto_perfil}}" alt="profile image"/>
  </div>
  <div class="card__header">
    <h2 class="card__title no-margin">
      {{profile.nombre}}
    </h2>
    <p data-section="profile" data-value="rol" class="card__subtitle no-margin">{{profile.titulo}}</p>
  </div>
  <div class="card__body">
    <div class="card__link">
      <i class="fas fa-envelope icon"></i>
      <a href="mailto:{{profile.email}}">E-mail</a>
    </div>
    <!-- <div class="card__link">
      <i class="fas fa-phone-alt icon"></i>
      <a href="tel:{{profile.telefono}}">{{profile.telefono}}</a>
    </div> -->
    <div class="card__link">
      <i class="fa-brands fa-linkedin icon"></i>
      <a href="https://www.linkedin.com/in/alan-lazo/">LinkedIn</a>
    </div>
    <p data-section="profile" data-value="description" class="card__text">
      {{profile.sobre_mi}}
    </p>
  </div>
</article>
