<button (click)="open(demoModal)" class="btn btn-sm btn-outline-primary btn--edit"><i class="fa-solid fa-pen-to-square"></i></button>


<!-- Modal -->
<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Tecnoliga {{skill.nombre}}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
   <form (ngSubmit)="guardarSkill(skillForm)" #skillForm="ngForm" >
    <div class="modal-body">
      <div class="m-2">
       <label class="form-label" for="logo">Logo</label>
        <!--  <input (change)="saveLogo($event)" class="form-control" type="file" name="logo" id="logo"> -->
        <input type="text" class="form-control" [(ngModel)]="skill.logo" name="logo" id="logo">
      </div>
      <div class="m-2">
        <label class="form-label">Nombre de la tecnologia</label>
        <input class="form-control" type="text" [(ngModel)]="skill.nombre" name="nombre" id="nombre">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')">Guardar</button>
    </div>
  </form>
  </ng-template>
